<html>
    <head>
        <title>3D Piano Player (Three.js)</title>
        <script src="/js/three.js"></script>

        <script src="/js/OrbitAndPanControls.js"></script>
        <script src="/js/ColladaLoader.js"></script>

        <!-- extras -->
        <script src="/js/base64binary.js" type="text/javascript"></script>

        <script src="/js/MIDI/AudioDetect.js" type="text/javascript"></script>
        <script src="/js/MIDI/LoadPlugin.js" type="text/javascript"></script>
        <script src="/js/MIDI/Plugin.js" type="text/javascript"></script>
        <script src="/js/MIDI/Player.js" type="text/javascript"></script>
        <script src="/js/MIDI/Loader.js" type="text/javascript"></script>

        <script src="/js/Window/DOMLoader.script.js" type="text/javascript"></script>

        <!-- jasmid package -->
        <script src="/js/jasmid/stream.js"></script>
        <script src="/js/jasmid/midifile.js"></script>
        <script src="/js/jasmid/replayer.js"></script>

        <script type="text/javascript" src="/js/dat.gui.js"></script>

        <style>
            canvas
            {
                width: 100%; height: 100% 
            }
            body
            {
                color: rgb(0, 0, 0);
                font-family:Monospace;
                font-size:13px;
                text-align:center;

                background-color: #fff;
                margin: 0px;
                overflow: hidden;
            }

            #info
            {
                font-family: 'Times New Roman', Times, serif;
                font-size: 40px;
                font-weight: 700;
                opacity: 0.7;
                position: absolute;
                top: 100px; width: 100%;
                padding: 5px;
                background: -webkit-linear-gradient(#DA4453, #89216B);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            a
            {
                color: #1e83ff;
            }

        </style>    
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>        
        <script type="text/javascript">
            
            // Begin MIDI loader widger
            MIDI.loader = new widgets.Loader({
                message: "Loading: Soundfont..."
            });
            
            function smoothstep(a,b,x)
            {
                if( x<a ) return 0.0;
                if( x>b ) return 1.0;
                var y = (x-a)/(b-a);
                return y*y*(3.0-2.0*y);
            }

            function mix(a,b,x)
            {
                return a + (b - a)*Math.min(Math.max(x,0.0),1.0);
            }            

            var controls = new function()
            {
                this.key_attack_time = 9.0;
                this.key_max_rotation = Math.PI/2 - Math.PI/48;
                this.octave = 0;
                this.noteOnColor = [ 255, 0, 0, 1.0 ];
                this.play = function()
                    {
                        MIDI.Player.resume();
                    };
                this.stop = function()
                    {
                        MIDI.Player.stop();
                    }
            };
            

            var keyState = Object.freeze ({unpressed: {}, note_on: {}, pressed:{}, note_off:{} });


            var scene = new THREE.Scene();
            var camera = new THREE.PerspectiveCamera(7, window.innerWidth/window.innerHeight, 2.0, 5000);

            var keys_down = [];
            var keys_obj = [];
    
            var renderer = new THREE.WebGLRenderer({antialias:true});
            renderer.setSize(window.innerWidth, window.innerHeight);          
            renderer.shadowMapEnabled = true;  
            renderer.shadowMapSoft = true;
            renderer.shadowMapType = THREE.PCFSoftShadowMap;
            renderer.gammaInput = true;
            renderer.gammaOutput = true;
            renderer.physicallyBasedShading = true;

            document.body.appendChild(renderer.domElement);

            var material = new THREE.MeshLambertMaterial( { color: 0x606060} ) 

            floor = new THREE.Mesh( new THREE.PlaneGeometry( 8000, 8000 ), new THREE.MeshBasicMaterial( { color: 0xf0f0f0 } ) );
            floor.rotation.x = - 90 * ( Math.PI / 180 );
            floor.position.y = -0.45;
            floor.receiveShadow = true;
            floor.castShadow = true;
            scene.add( floor );
            scene.fog = new THREE.Fog( 0xffffff, 40, 50 );

            noteOnColor = new THREE.Color().setRGB(controls.noteOnColor[0]/256.0, controls.noteOnColor[1]/256.0, controls.noteOnColor[2]/256.0);

            init_lights();

            var loader = new THREE.ColladaLoader();

            loader.load( '/obj/piano-small.dae', prepare_scene );

            camera.position.x = -1.77;
            camera.position.z = 20;
            camera.position.y = 5.51;

            var cameraControls = new THREE.OrbitAndPanControls(camera, renderer.domElement);
            cameraControls.target.set(4.5,0,0);

            var clock = new THREE.Clock();

            function on_window_resize()
            {
                camera.aspect = window.innerWidth / window.innerHeight;
                camera.updateProjectionMatrix();

                renderer.setSize( window.innerWidth, window.innerHeight );
            }    

            function init_lights()
            {
                var spotlight = new THREE.DirectionalLight(0xffffff);
                
                spotlight.position.set(1.0,2.4,-7.5);
                spotlight.target.position.set(6.0,-6,7);
                spotlight.shadowCameraVisible = false;
                spotlight.shadowDarkness = 0.75;
                spotlight.intensity = 1;
                spotlight.castShadow = true;
                spotlight.shadowMapWidth = 2048;
                spotlight.shadowMapHeight = 2048;

                spotlight.shadowCameraNear = 5.0;
                spotlight.shadowCameraFar = 20.0;
                spotlight.shadowBias = 0.0025;
                
                spotlight.shadowCameraLeft = -8.85;
                spotlight.shadowCameraRight = 5.5;
                spotlight.shadowCameraTop = 4;
                spotlight.shadowCameraBottom = 0;                
                scene.add(spotlight);
                
                var light = new THREE.DirectionalLight( 0xddffff, 0.5 );
                light.position.set( 1, 1, 1 ).normalize();
                scene.add( light );

                var light = new THREE.DirectionalLight( 0xff5555, 0.5 );
                light.position.set( -1, -1, -1 ).normalize();
                scene.add( light );
            }

            function prepare_scene( collada )
            {
                collada.scene.traverse(initialize_keys);
                scene.add(collada.scene);                
            }

            function initialize_keys( obj)
            {
                keys_obj.push(obj);                
                obj.rotation.y = 0;
                obj.rotation.z = 0;
                obj.position.x += 0.1;
                obj.position.y -= 0.165;
                obj.keyState = keyState.unpressed;
                obj.clock = new THREE.Clock(false);
                obj.castShadow = true;
                obj.receiveShadow = true;

                // only add meshes in the material redefinition (to make keys change their color when pressed)
                if (obj instanceof THREE.Mesh)
                {
                    old_material = obj.material;
                    obj.material = new THREE.MeshPhongMaterial( { color:old_material.color} );
                    obj.material.shininess = 35.0;
                    obj.material.specular = new THREE.Color().setRGB(0.25, 0.25, 0.25);;
                    obj.material.note_off = obj.material.color.clone();
                   
                }
            }

            function key_status (keyName, status)
            {
                var obj = scene.getObjectByName(keyName, true);
                console.log("Here", obj)
                if (obj != undefined)
                {                 
                    obj.clock.start();
                    obj.clock.elapsedTime = 0;
                    obj.keyState = status;
                }
            }

            function frame()
            {
                requestAnimationFrame(frame);

                var delta = clock.getDelta();
                
                update(delta);

                render(delta);

            }
            function update_key( obj, delta )
            {
                if (obj.keyState == keyState.note_on)
                {
                    obj.rotation.x = mix(-Math.PI/2, -controls.key_max_rotation, smoothstep(0.0, 1.0, controls.key_attack_time*obj.clock.getElapsedTime()));
                    if (obj.rotation.x >= -controls.key_max_rotation)
                    {
                        obj.keyState = keyState.pressed;
                        obj.clock.elapsedTime = 0;
                    }                    
                    obj.material.color = noteOnColor;
                }
                else if (obj.keyState == keyState.note_off)
                {
                    obj.rotation.x = mix(-controls.key_max_rotation, -Math.PI/2, smoothstep(0.0, 1.0, controls.key_attack_time*obj.clock.getElapsedTime()));
                    if (obj.rotation.x <= -Math.PI/2)
                    {
                        obj.keyState = keyState.unpressed;
                        obj.clock.elapsedTime = 0;
                    }
                    obj.material.color = obj.material.note_off;
                }
            }

            function update( delta )
            {
                cameraControls.update(delta);
                for(i in keys_obj)
                {
                    update_key(keys_obj[i], delta);
                }

            }
        
            function render( delta )
            {                
                renderer.render(scene, camera);
            };

            frame();

            function keyCode_to_note( keyCode)
            {
                var note = -1;
                if(keyCode == 0) note = 0;
                if(keyCode == 1) note = 1;
                if(keyCode == 2) note = 2;
                if(keyCode == 3) note = 3;
                if(keyCode == 4) note = 4;

                if( note == -1 ) return -1;
                return {"disp":("_" + (note)), "note":note + controls.octave*12};
            }

            function keyPress(ev)
            {
                console.log(ev);
                if (keys_down[ev.keyCode] != true)
                {
                    var obj = keyCode_to_note(ev.keyCode);
                    var disp_note = obj.disp, note = obj.note;
                    if (note != -1)
                    {
                        console.log("note", disp_note);
                        key_status(disp_note, keyState.note_on);
                        keys_down[ev.keyCode] = true;                     

                        var delay = 0; // play one note every quarter second
                        // var note = parseInt(note.substr(1))+21; // the MIDI note
                        var velocity = 127; // how hard the note hits
                        console.log(ev, MIDI);
                        MIDI.setVolume(0, 127);   
                        MIDI.noteOn(0, note+21, velocity, delay);                        
                    }
                }
                setTimeout(function(){ 
                    keyRelease(ev);
                }, 100);            
            }            

            function keyRelease(ev)
            {
                if (keys_down[ev.keyCode] == true)
                {
                    var obj = keyCode_to_note(ev.keyCode);
                    var disp_note = obj.disp, note = obj.note;
                    key_status(disp_note, keyState.note_off);
                    keys_down[ev.keyCode] = false;

                    var delay = 0; // play one note every quarter second
                    // var note = parseInt(note.substr(1))+21;
                    var velocity = 127;// how hard the note hits
                    MIDI.setVolume(0, 127);
                    MIDI.noteOff(0, note+21, delay + 0.08);
                }
            }          

            document.addEventListener('DOMContentLoaded', function() {
                var socket = io();
                socket.on('msg_backend', (data) => {
                    console.log(data);
                });
                socket.emit('loaded_ack', true);
                socket.on('data', function(data){
                    console.log(data);
                    data = Array.from(data);
                    var result_arr = [];
                    for (let index = 0; index < data.length; index++) {
                        const element = data[index];
                        if(element === '1'){
                            keyPress({"keyCode":index});
                            result_arr.push(index);
                        }
                    }
                    console.log(result_arr);
                });
            }, false);
            
            window.onload = function ()
            {
                MIDI.loadPlugin(function ()
                {            
                    
                    MIDI.Player.addListener(function(data)
                    {
                        var pianoKey = data.note - MIDI.pianoKeyOffset - 3;
                        if (data.message === 144)
                        {
                            // console.log("KEY", pianoKey);
                            key_status("_" + pianoKey, keyState.note_on);
                        }
                        else
                        {
                            key_status("_" + pianoKey, keyState.note_off);
                        }
                    });

                    // Close the MIDI loader widget and open the GUI                                        
                    MIDI.loader.stop();
                    
                    var gui = new dat.GUI({ width:625});

                    var noteOnColorControl = gui.addColor(controls, 'noteOnColor');
                    noteOnColorControl.onChange(function(value){
                        noteOnColor = new THREE.Color().setRGB(controls.noteOnColor[0]/256.0, controls.noteOnColor[1]/256.0, controls.noteOnColor[2]/256.0);;
                    });

                    // make sure to remove any key pressed when changing the octave
                    var octave = gui.add(controls, 'octave',0 , 4).step(1);
                    octave.onChange(function(value){
                        for (keyCode in keys_down)
                        {  
                            var note = keyCode_to_note(keyCode);
                            key_status(note, keyState.note_off);
                        }
                        
                    });
                });                               
            };            

            window.addEventListener( 'resize', on_window_resize, false );
            
        </script>

        <h1 id="info">SIMULATION OF MUSICAL INSTRUMENTS USING NEURAL NETWORKS</h1>

    </body>
</html>
